{% extends "layout.html.twig" %}
{% block body %}
<div class="row vh-100">
	<div class="col-lg-4 my-auto mx-auto">
		<form id="formCrearPregunta">
				<strong><p>Pregunta: </strong> <input id="pregunta" name="pregunta" type="text"></p>
				<strong><p>Primera Respuesta:</strong> <input id="r1" name="r1" type="text"></p>
				<strong><p>Segunda Respuesta: </strong> <input id="r2" name="r2" type="text"></p>
				<strong><p>Tercera Respuesta: </strong> <input id="r3" name="r3" type="text"></p>
				<strong><p>Respuesta Correcta: </strong> <input id="correcta" name="correcta" type="text"></p>
				<strong><p>Imagen:</strong> <input id="image"type="file" name="image"></p>
				<button id="btnCrearPregunta"class="btn btn-info">Crear Pregunta</button>
		</form>
	</div>
</div>
    <footer class="page-footer font-small">
		<div class="row justify-content-center black">
			<div class="col-lg-4 text-center mt-3"style="height:300px;">
				<span class="d-block text-white mt-2 mb-5">
					<span class="navbar-brand ml-5"><img src="{{ asset('img/logo.png') }}" width="50px" height="50px"></span>
					<strong>Aprende y Conduce</strong></span>
				<span class="ml-2 d-block text-white my-2"><strong>Teléfono: 966.87.07.00</strong></span>
				<span class="ml-2 d-block text-white mt-2 mb-5"><strong>Email: aprendeyconduce@contacto.es</strong></span>
				<span class="ml-2 d-block text-white mt-5">&copy;Aprende y conduce todos los derechos reservados</span>
			</div>
		</div>
	</footer>
{% endblock %}

